.idea
logs
__pycache__

Datasets/*
!Datasets/Datasets.md
!Datasets/mcf_filters.txt
!Datasets/pains_filters.txt
!Datasets/all_filters.txt
!Datasets/selected_targets.py

Models/chembl_mcp_models

a.py
Saved Models
Saved Results

output.txt

Contrib